.navBody {
  background-color: rgb(255, 255, 255);
  /* height: 70px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  position: relative;
}

.navList {
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .navList {
    position: absolute;
    top: 0;
    left: -1000%;
    width: 250px;
    background: #fdfeff;
    height: 100vh;
    z-index: 500;

    transition: 0.3s;
  }
  .navListMobile {
    left: 0;
  }

  .navList.navListMobile ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 10px;
  }
  .navList.navListMobile ul li {
    color: rgb(4, 4, 4);
    font-size: 1rem;
    border-bottom: 1px solid rgb(206, 202, 202);
  }
  .navBody {
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
}

.navList ul {
  display: flex;
  color: rgb(0, 0, 0);
  gap: 20px;
  padding: 0px;
  margin: 0px;
}

.navList ul li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  padding: 0px 0 10px 0px;
}

.searchBody button {
  height: 30px;
  padding: 0 10px;
  border-radius: 0;
  background-color: rgba(252, 185, 0, 1);
  border: none;
}

.searchInput {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.button button {
  width: 150px;
  height: 30px;
  background-color: #428bca;
  border: none;
  transition: 0.5s;
}
.button button:hover {
  width: 150px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid gray;
  color: black;
}

.sale {
  display: none;
}
@media screen and (max-width: 600px) {
  .searchInput {
    display: block;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .button {
    display: none;
  }

  .sale {
    display: block;
  }

  .change {
    display: none;
  }

  .searchIconDesktop {
    display: none;
  }
}

.searchBox {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  background-color: #d5eafc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
  box-shadow: 1px 1px 10px rgba(87, 85, 85, 0.656);
}

.form input {
  color: #000;
  background-color: #ffff;
  width: 100%;
  border: 2px solid gray;
  border-top: none;
  outline: none;
  padding: 10px;
}

.searchBox ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #004480;
  padding: 10px 5px;
}

.searchBox ul li {
  border-bottom: 1px solid black;
}
