.navBody {
  background-color: rgb(255, 255, 255);
  /* height: 70px; */
  display: flex;
justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

.navList {
position: relative;
}

@media screen and (max-width: 600px) {
  .navList {
    position: absolute;
    top: 0;
    left: -100%;
    width: 250px;
    background: #428bca;
    height: 100vh;
    z-index: 100;
    transition: .3s;
    }
 .navListMobile{
      left: 0;

    }

    .navList.navListMobile ul {
      display: flex;
      flex-direction: column;
      padding: 2rem 10px;
    }
    .navList.navListMobile ul li {
   color: white;
   font-size: 1.5rem;
    }
    .navBody {
 
    justify-content: space-between;
      align-items: center;
      padding: 20px 20px;
    }
    
}

.navList ul {
  display: flex;
  color: rgb(0, 0, 0);
  gap: 20px;
}

.navList ul li {
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.searchBody button{
  height: 30px;
  padding:0 10px;
  border-radius: 0;
  background-color: rgba(252,185,0,1);
  border: none;
}

.searchInput{

  display: none;

}

@media screen and (max-width: 600px) {
.searchInput{
display: block;
}
}